
.whole{
  min-height: 592px;
  overflow: hidden;
  background-image: url(img/Untitled\ design\ \(2\).png);
  background-size:contain;
  padding-bottom: 30px;
}

svg{
  width: 27px;
}


.logo{
  margin: 10px;
  height: 80px;
  width: 205px;
  background-image:url(img/best.png) ;
  background-size: contain;
}
.logow{
  margin: 10px;
  height: 80px;
  width: 205px;
  background-image:url(img/bestw.png) ;
  background-size: contain;
}
.logoy{
  margin: 10px;
  height: 80px;
  width: 205px;
  background-image:url(img/Image\ \(9\).png) ;
  background-size: contain;
}

.EMOJI{
  margin: 10px;
  height: 80px;
  width: 100px;
  background-image:url(img/logo.png) ;
  background-size: contain;
}
.name{
  position: fixed;
  top: 0px;
  border: 2px solid ;
    background-color:rgba(217, 217, 148);
    font-weight: 600;
    font-size: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
.space{
  border: 2px solid ;
    font-weight: 600;
    font-size: 30px;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.ext{
  color: #39393a;
}
.icon-cart{
  position: relative;
}
.icon{
  position: fixed;
  right: 30px;
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub{
    font-size: large;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  #menu-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  #menu-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #menu-bar a:hover {
    color: #f1f1f1;
  }

  #menu-button {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 27px;
    left: 25px;
    z-index: 2;
  }

  #content {
    transition: margin-left 0.5s;
    padding: 16px;
  }



  body {
    font-family: Arial, sans-serif;
}


.img {
  font-size: larger;
  padding: 80px;
  color:#373836;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(img/Slider_01.jpg);
  background-size: cover;
  height: 220px;
  width: 100%;
}

.click{
  background-color:rgba(177, 177, 125, 0.7);
  border-radius: 5px;
  width: 100px;
  margin: 10px;
  margin-left: 50px;
  padding: 7px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.main{
  display: grid;
grid-template-columns: repeat(2, 1fr);
gap: 20px;
}

.img2 {
  display: flex;
  justify-content: center;
  background-image: url(img/54.png);
  background-size: cover;
  height: 300px;
  width: 70%;
  border-radius: 100px;
}

.img3 {
  background-image: url(img/51.png);
  background-size: cover;
  height: 300px;
  width: 70%;
  border-radius: 100px;
}
.about {
  padding: 15px;
  border-radius: 50px;
  background-color: rgba(197, 197, 185, 0.88);
  border: 4px solid rgba(84, 84, 84, 0.8);
  height: 300px;
  width: 80%;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
}

.about:hover {
  background-color: rgba(250, 251, 240, 0.91);
}
.red{
  color: rgb(83, 1, 1);
}
.note{
  font-size: 12px;
}

.head {
  text-decoration: none;
  color:black;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
}

.content {
  width: 40%;
  height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.services{
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.services{
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}
.services-box{
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  min-width: 50px;
  padding: 20px;
  margin: 15px;
  flex-grow: 0.7;
}
.services-box i{
  color: #aeb78d;
  font-size: 2rem;
  margin: 15px;
}
.services-box span{
  color: #b7baa7;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}
.services-box p{
  color: rgb(255, 255, 255);
  margin: 0px;
  font-size: 0.9rem;
}
footer{
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-top:  1px solid rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  margin-top: 30px;
}
.copyright{
  padding: 20px;
  font-size: 0.9rem;
  color: #f8f4f4;
}

@media screen and (max-width:800px) {
  .diba{
    font-size: 20px;
  }
  .head{
    font-size: 20px;
  }
  .icon{
    font-size: 23px;
    position: fixed;
    right: 14px;
  }
  
  .icon-cart span{
    font-size: 16px;
    left: 16px;
    top: 20px;
    width: 17px;
    height: 17px;
  }
  .logo{
    height: 50px;
    width: 126px;
  }
  #menu-button {
    font-size: 23px;
    top: 18px;
    left: 25px;
  }
  .space{
      height: 60px;
  }
  .name{
    height: 60px;  
  }
  


.main{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.img{
  font-size: small;
  padding: 20px;
  height: 170px;
}
.click{
  width: 60px;
}
.about{
  border-radius: 40px;
  width:75%;
  height: 220px;
}
.img1 {
  border-radius: 30px;
  height:250px;
}
.img2 {
  border-radius: 30px;
  height:250px;
}
.img3 {
  border-radius: 30px;
  height:250px;
}
.img4 {
  border-radius: 20px;
  height:250px;
}
}



footer{
  position: relative;
  width: 80%;
  padding: 40px 10vw;
  padding-bottom: 80px;
  background: #131313;
}

.footer-content{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-content .logoo{
  height: 50%;
  width: 35%;
}

.footer-ul-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.category{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  list-style: none;
  margin-bottom: 50px;
}

.category .footer-link{
  text-decoration: none;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.75);
}

.footer-link:hover{
  color: #fff;
}
svg{
  width: 22px;
}



@media screen and (max-width:450px) {
  .diba{
    font-size: 15px;
  }
  .head{
    font-size: 15px;
  }
  .icon{
    font-size: 15px;
    position: fixed;
    right: 16px;
  }
  .img{
    font-size: small;
    padding: 20px;
    height: 100px;
  }
  .icon-cart span{
    font-size: 16px;
    left: 16px;
    top: 20px;
    width: 17px;
    height: 17px;
  }
  .logo{
    height: 38px;
    width: 100px;
  }
  #menu-button {
    font-size: 20px;
    top: 21px;
    left: 25px;
  }
 
  .product-container{
    height: 200px;
    width: 65%;
  }

  .product-card{
    width: 100px;
    height: 200px;
  }

  .product-image{
    width: 100px;
    height: 100px;
  }
  .product-thumb{
    width: 100%;
    height: 100px;
  }


  .about{
    margin: 30px;
    border-radius: 30px;
    width: 70%;
    height: 140px;
  }

  .img1 {
    border-radius: 25px;
    height:140px;
  }
  .img2 {
    border-radius: 25px;
    height:140px;
  }
  .img3 {
    border-radius: 25px;
    height:140px;
  }
  .img4 {
    border-radius: 10px;
    height:140px;
  }
  svg{
    width: 20px;
  }
  .slides img {
    height:170px ;
  }
}


